@import url("https://fonts.googleapis.com/css?family=Mukta+Malar:300,700");

$sections: 1;

*,
*::before,
*::after {
  box-sizing: border-box;
}

.section {
  padding: 0px;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  margin-top: 0px;
}

.sidebar--left {
  display: grid;
  justify-content: center;
  background: #077377;
  color: rgba(white, 0.9);
  padding: 0.25em;
  // max-width: 250px;
  height: 100%;
  transition: all 0.5s;
  position: -webkit-sticky;
  position: sticky;
  left: -1px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.432);
}

.sidebar-header {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 15vh;
  margin: 0px;
  padding: 10px;
  background: rgb(63, 194, 226);
}

.main-nav {
  padding: 0.75em;
  margin: 0px;
  position: -webkit-sticky;
  position: sticky;
  top: 75px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.432);

  .nav-menu-list {
    display: grid;
    align-items: center;
    justify-content: center;
    padding-top: 1em;
  }
}

// .sidebar--right {
//   background: #63022f;
//   color: rgba(white, 0.9);
//   padding: 0px;
//   max-width: 200px;
//   transition: all 0.5s;
//   grid-column-start: -1;
//   padding: 0.5em;
// }

.main-area {
  background: #effffb;
  color: #333;
  margin: 8px 0px;
  padding: 0px;
  height: 100%;
  max-width: 1920px;
  overflow: scroll;
}

.top-nav2 {
  background: #f56d12;
  color: white;
  margin: 0px 0px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.432);
  z-index: 1;
}

.navbar2 {
  background: var(--secondary);
}

header {
  background: #0c3e46;
  color: white;
  padding: 0px;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  width: 100vw;
  z-index: 3;

  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.432);
}

footer {
  background: #476a6f;
  color: white;
  padding: 0px;
  position: -webkit-sticky;
  position: sticky;
  bottom: -1px;
  align-self: flex-end;
}

@media (max-width: 600px) {
  .grid-layout {
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(13%, 15%) auto auto auto auto auto 10%;
    grid-template-rows: 7% 5% auto auto auto auto auto 10% 5%;
    transition: all 0.5s;
    grid-template-areas:
      "head head head head head head head"
      "sl head2 head2 head2 head2 head2 head2"
      "sl sl sl ma ma ma ma"
      "sl sl sl ma ma ma ma"
      "sl sl sl ma ma ma ma"
      "sl sl sl ma ma ma ma"
      "sl sl sl ma ma ma ma"
      "sl sl sl ma ma ma ma"
      "sl sl sl foot foot foot foot";

    header {
      grid-area: head;
    }

    .top-nav2 {
      grid-area: head2;
    }

    .sidebar--left {
      grid-area: sl;
      max-width: 90%;
    }

    .main-area {
      grid-area: ma;
    }

    // .sidebar--right {
    //   grid-area: sr;
    // }
    footer {
      grid-area: foot;
    }
  }
}

// Collapsed NavBar Class
@media (max-width: 600px) {
  .grid-layout-two {
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(auto, 0%) auto auto auto auto auto 10%;
    grid-template-rows: 7% 5% auto auto auto auto auto 10% 5%;
    transition: all 0.5s;
    grid-template-areas:
      "head head head head head head head"
      "head2 head2 head2 head2 head2 head2 head2"
      "ma ma ma ma ma ma ma"
      "ma ma ma ma ma ma ma"
      "ma ma ma ma ma ma ma"
      "ma ma ma ma ma ma ma"
      "ma ma ma ma ma ma ma"
      "ma ma ma ma ma ma ma"
      "foot foot foot foot foot foot foot";

    header {
      grid-area: head;
    }

    .top-nav2 {
      grid-area: head2;
    }

    .sidebar--left {
      grid-area: sl;
    }

    .main-area {
      grid-area: ma;
    }

    // .sidebar--right {
    //   grid-area: sr;
    // }
    footer {
      grid-area: foot;
    }
  }
}

@media (max-width: 1920px) {
  .grid-layout {
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(13%, 15%) auto auto auto auto auto 10%;
    grid-template-rows: 7% 5% auto auto auto auto auto 10% 5%;
    transition: all 0.5s;
    grid-template-areas:
      "head head head head head head head"
      "sl head2 head2 head2 head2 head2 head2"
      "sl ma ma ma ma ma ma"
      "sl ma ma ma ma ma ma"
      "sl ma ma ma ma ma ma"
      "sl ma ma ma ma ma ma"
      "sl ma ma ma ma ma ma"
      "sl ma ma ma ma ma ma"
      "sl foot foot foot foot foot foot";

    header {
      grid-area: head;
    }

    .top-nav2 {
      grid-area: head2;
    }

    .sidebar--left {
      grid-area: sl;
    }

    .main-area {
      grid-area: ma;
    }

    // .sidebar--right {
    //   grid-area: sr;
    // }
    footer {
      grid-area: foot;
    }
  }
}

// Collapsed NavBar Class
@media (max-width: 1920px) {
  .grid-layout-two {
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(auto, 0%) auto auto auto auto auto 10%;
    grid-template-rows: 7% 5% auto auto auto auto auto 10% 5%;
    transition: all 0.5s;
    grid-template-areas:
      "head head head head head head head"
      "head2 head2 head2 head2 head2 head2 head2"
      "ma ma ma ma ma ma ma"
      "ma ma ma ma ma ma ma"
      "ma ma ma ma ma ma ma"
      "ma ma ma ma ma ma ma"
      "ma ma ma ma ma ma ma"
      "ma ma ma ma ma ma ma"
      "foot foot foot foot foot foot foot";

    header {
      grid-area: head;
    }

    .top-nav2 {
      grid-area: head2;
    }

    .sidebar--left {
      grid-area: sl;
    }

    .main-area {
      grid-area: ma;
    }

    // .sidebar--right {
    //   grid-area: sr;
    // }
    footer {
      grid-area: foot;
    }
  }
}
