.main-dash-grid {
  margin: 0 auto;
  display: flex;
  max-height: 100%;
  flex-wrap: nowrap;
  flex-direction: column;

  .dash-infobar {
    flex: auto;
    margin: 0.2em;
    background: chartreuse;
  }
  .dash-charting {
    flex: auto;
    margin: 0.25em;
    background: rgb(255, 182, 219);
  }
  .dash-main {
    flex: auto;
    margin: 0.25em;
    background: rgb(145, 142, 13);
  }
  .dash-bottom {
    flex: auto;
    margin: 0.25em;
    background: rgb(207, 17, 17);
  }
}
