.user-crud-grid {
  margin: 0 auto;
  display: flex;
  max-height: 100%;
  flex-wrap: nowrap;
  flex-direction: column;

  .top-row-data {
    flex: auto;
    margin: 0.4em auto;
    border: 2px solid blue;
    max-height: 8em;
    min-height: 7em;

    .dash-top {
      flex: auto;
      margin: 0.25em auto;
      background: rgb(70, 238, 238);
    }
  }

  .main-section-row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    flex: auto;
    margin: 0.4em;
    border: 2px solid red;

    .dash-left {
      flex: 0 1 50%;
      margin: 0.25em auto;
      background: rgb(101, 248, 248);
      border: 2px solid black;
    }

    .dash-right {
      flex: 1 1 50%;
      margin: 0.25em auto;
      background: springgreen;
    }
  }

  .bottom-row {
    flex: auto;
    flex-wrap: nowrap;
    min-height: 7em;
    max-height: em;
    margin: 0.4em auto;
    border: 2px solid green;

    .dash-bottom {
      flex: auto;
      flex-wrap: nowrap;
      margin: 0.25em auto;
      background: lightblue;
    }
  }
}
