// Add anything custom here -- mixins, variable overrides.
// by adding things here instead of overriding existing .LESS files, it makes merging changes on product updates easier

/* Your  customizaton  */
$green: #339900;
$yellow: #fec20e;
$blue: #369;
.myclass {
  color: $yellow;
}
